<style>
svg {
    font: 14px sans-serif;
}

.line {
    fill: none;
    stroke: #4682B4;
    stroke-width: 4px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#tooltip {
    opacity: 0;
    color: white;
    float: left;
    position: absolute;
    font: 14px sans-serif;
    text-align: center;
    background: steelblue;
    border: 1px solid;
    border-radius: 2px;
    padding: 10px;
    box-sizing: border-box;
}


</style>
<div id="tooltip">testing</div>
<!-- placeholder -->
<div id='graphContainer'></div>